<ul class="help-nav-list">
    <li class="expandable <%= "active" if request.path == "/help" || help_active?("overview") %>">
        <h4><%= link_to "Overview", "/help" %></h4>
        <ul>
            <li>
                <a href="/help" class="<%= "active" if request.path == "/help" %>">About</a>
            </li>
            <li><%= help_link "Learning", "overview/learning-about-atlas" %></li>
            <li><%= help_link "Features List", "overview/features-list" %></li>
            <li><%= help_link "Updating Tools", "overview/updating-tools" %></li>
        </ul>
    </li>

    <li class="expandable <%= "active" if help_active?("vagrant") %>">
        <h4><%= help_link "Vagrant", "vagrant/features" %></h4>
        <ul>
            <li><%= help_link "Features", "vagrant/features" %></li>
            <li class="expandable <%= "active" if help_active?("vagrant/shares") %>" >
                <div class="embedded-title"><%= help_link "Shares", "vagrant/shares" %></div>
                <ul>
                    <li><%= help_link "Creating Shares", "vagrant/shares/create" %></li>
                    <li><%= help_link "Custom names", "vagrant/shares/custom-names" %></li>
                    <li><%= help_link "Troubleshooting", "vagrant/shares/troubleshooting" %></li>
                    <li><%= help_link "Wordpress", "vagrant/shares/wordpress" %></li>
                </ul>
            </li>

            <li class="expandable <%= "active" if help_active?("vagrant/boxes") %>" >
                <div class="embedded-title"><%= help_link "Boxes", "vagrant/boxes" %></div>
                <ul>
                    <li><%= help_link "Creating Boxes", "vagrant/boxes/create" %></li>
                    <li><%= help_link "Versioning and Lifecycle", "vagrant/boxes/lifecycle" %></li>
                    <li><%= help_link "Box Catalog", "vagrant/boxes/catalog" %></li>
                    <li><%= help_link "Distributing Boxes", "vagrant/boxes/distributing" %></li>
                </ul>
            </li>
        </ul>
    </li>


    <li class="expandable <%= "active" if help_active?("video-walkthroughs") %>">
        <h4><%= help_link "Video Walkthroughs", "video-walkthroughs/build-images" %></h4>
        <ul>
            <li><%= help_link "How to build images", "video-walkthroughs/build-images" %></li>
            <li><%= help_link "How to configure infrastructure", "video-walkthroughs/configure-infrastructure" %></li>
            <li><%= help_link "How to deploy an application", "video-walkthroughs/deploy-application" %></li>
        </ul>
    </li>

    <li class="expandable <%= "active" if help_active?("use-cases") %>">
        <h4><%= help_link "Use Cases", "use-cases/adopt-devops" %></h4>
        <ul>
            <li><%= help_link "Adopt DevOps in your organization", "use-cases/adopt-devops" %></li>
            <li><%= help_link "Migrate your infrastructure to the cloud", "use-cases/migrate-to-cloud" %></li>
            <li><%= help_link "Deploy to a hybrid cloud", "use-cases/hybrid-cloud-deployments" %></li>
            <li><%= help_link "Use one workflow to move from development to production on any infrastructure", "use-cases/one-workflow" %></li>
            <li><%= help_link "Use one dashboard to monitor and maintain infrastructure on any provider", "use-cases/one-dashboard" %></li>
        </ul>
    </li>

    <li class="expandable <%= "active" if help_active?("comparison") %>">
        <h4 id="comparison"><%= help_link "Atlas vs Other Software", "comparison/paas" %></h4>
        <ul>
            <li><%= help_link "Platform-as-a-Service (PaaS) - Heroku, CloudFoundry, etc", "comparison/paas" %></li>
            <li><%= help_link "Public Cloud - AWS, GCE, Rackspace, etc", "comparison/public-cloud" %></li>
            <li><%= help_link "Configuration Management - Puppet, Chef, Ansible, Salt, etc", "comparison/configuration-management" %></li>
            <li><%= help_link "Infrastructure Management - CloudFormation, Heat, etc", "comparison/infrastructure-management" %></li>
            <li><%= help_link "HashiCorp Open Source Software - Vagrant, Packer, Consul, Terraform", "comparison/hashicorp-oss" %></li>
        </ul>
    </li>

    <li class="expandable <%= "active" if help_active?("guides") %>">
        <h4 id="guides"><%= help_link "Guides: How to use Atlas with your existing services", "guides/vagrant-box-create-and-distribute" %></h4>
        <ul>
            <li><%= help_link "Using Atlas to store and distribute Vagrant boxes", "guides/vagrant-box-create-and-distribute" %></li>
            <li><%= help_link "Using Atlas with continuous integration", "guides/continuous-integration" %></li>
            <li><%= help_link "Using Atlas with GitHub", "guides/version-control" %></li>
            <li><%= help_link "Using Atlas with containers", "guides/containers" %></li>
            <li><%= help_link "Using Atlas with configuration management tools", "guides/configuration-management" %></li>
            <li><%= help_link "Using Atlas with public cloud providers", "guides/public-cloud" %></li>
        </ul>
    </li>

    <li class="expandable <%= "active" if help_active?("FAQ") %>">
        <h4><%= help_link "FAQ", "FAQ/packer" %></h4>
        <ul>
            <li><%= help_link "Packer, Build Configurations, and Artifacts", "FAQ/packer" %></li>
        </ul>
    </li>

    <li class="expandable <%= "active" if help_active?("documentation") %>">
        <h4><%= help_link "Documentation", "documentation/applications-and-dev-environments" %></h4>
        <ul>
            <li><%= help_link "Applications and Development Environments", "documentation/applications-and-dev-environments" %></li>
            <li><%= help_link "Build Configurations", "documentation/build-configurations" %></li>
            <li><%= help_link "Environments", "documentation/environments" %></li>
        </ul>
    </li>

    <li class="expandable <%= "active" if help_active?("account-management") %>">
        <h4><%= help_link "Account Management", "account-management/vagrant-1-7" %></h4>
        <ul>
            <li><%= help_link "Installing Vagrant 1.7", "account-management/vagrant-1-7" %></li>
            <li><%= help_link "Command-line Login", "account-management/command-line-login" %></li>
            <li><%= help_link "Organization Accounts", "account-management/organizations" %></li>
            <li><%= help_link "Migrate Organization", "account-management/migrate-organization" %></li>
        </ul>
    </li>

</ul>
