<ul class="help-nav-list">
    <li class="expandable <%= "active" if request.path == "/help" || help_active?("intro") %>">
        <h4><%= link_to "Intro", "/help" %></h4>
        <ul>
            <li>
                <a href="/help" class="<%= "active" if request.path == "/help" %>">About</a>
            </li>
            <li><%= help_link "Getting Started", "intro/getting-started" %></li>
            <li><%= help_link "Feature List", "intro/features-list" %></li>

            <li class="expandable <%= "active" if help_active?("intro/use-cases") %>" >
                <div class="embedded-title"><%= help_link "Use Cases", "intro/use-cases" %></div>
                <ul>
                    <li><%= help_link "Continuous Deployment", "intro/use-cases/continuous-deployment-of-immutable-infrastructure" %></li>
                    <li><%= help_link "Collaborating on Terraform Changes", "intro/use-cases/terraform-changes" %></li>
                    <li><%= help_link "Managing Development Environments", "intro/use-cases/development-environments" %></li>
                    <li><%= help_link "Automating Packer Builds", "intro/use-cases/automating-packer-builds" %></li>
                    <li><%= help_link "Infrastructure Monitoring", "intro/use-cases/infrastructure-monitoring" %></li>
                </ul>
            </li>

            <li class="expandable <%= "active" if help_active?("intro/vs") %>" >
                <div class="embedded-title"><%= help_link "Atlas vs. Other Software", "intro/vs" %></div>
                <ul>
                    <li><%= help_link "Chef, Puppet, Ansible, etc.", "intro/vs/configuration-management" %></li>
                    <li><%= help_link "Heroku and other PaaS", "intro/vs/paas" %></li>
                    <li><%= help_link "Cloudformation, Heat, etc.", "intro/vs/infrastructure-management" %></li>
                    <li><%= help_link "HashiCorp Tools", "intro/vs/hashicorp-tools" %></li>
                    <li><%= help_link "AWS, GCE, Azure, etc.", "intro/vs/infrastructure-providers" %></li>
                    <li><%= help_link "Custom Solutions", "intro/vs/custom-solutions" %></li>
                </ul>
            </li>
            <li><%= help_link "Updating Tools", "intro/updating-tools" %></li>
        </ul>
    </li>

    <li class="expandable <%= "active" if help_active?("vagrant") %>">
        <h4><%= help_link "Vagrant", "vagrant/features" %></h4>
        <ul>
            <li><%= help_link "Features", "vagrant/features" %></li>
            <li class="expandable <%= "active" if help_active?("vagrant/shares") %>" >
                <div class="embedded-title"><%= help_link "Shares", "vagrant/shares" %></div>
                <ul>
                    <li><%= help_link "Creating Shares", "vagrant/shares/create" %></li>
                    <li><%= help_link "Custom names", "vagrant/shares/custom-names" %></li>
                    <li><%= help_link "Troubleshooting", "vagrant/shares/troubleshooting" %></li>
                    <li><%= help_link "Wordpress", "vagrant/shares/wordpress" %></li>
                </ul>
            </li>

            <li class="expandable <%= "active" if help_active?("vagrant/boxes") %>" >
                <div class="embedded-title"><%= help_link "Boxes", "vagrant/boxes" %></div>
                <ul>
                    <li><%= help_link "Creating Boxes", "vagrant/boxes/create" %></li>
                    <li><%= help_link "Versioning and Lifecycle", "vagrant/boxes/lifecycle" %></li>
                    <li><%= help_link "Box Catalog", "vagrant/boxes/catalog" %></li>
                    <li><%= help_link "Distributing Boxes", "vagrant/boxes/distributing" %></li>
                </ul>
            </li>
        </ul>
    </li>


    <li class="expandable <%= "active" if help_active?("packer") %>">
        <h4><%= help_link "Packer", "packer/features" %></h4>
        <ul>
            <li><%= help_link "Features", "packer/features" %></li>

            <li class="expandable <%= "active" if help_active?("packer/builds") %>" >
                <div class="embedded-title"><%= help_link "Builds", "packer/builds" %></div>
                <ul>
                    <li><%= help_link "Starting Builds", "packer/builds/start" %></li>
                    <li><%= help_link "Rebuilding", "packer/builds/rebuilding" %></li>
                    <li><%= help_link "Linked Applications", "packer/builds/linking-applications" %></li>
                    <li><%= help_link "Troubleshooting", "packer/builds/troubleshooting" %></li>
                </ul>
            </li>

            <li class="expandable <%= "active" if help_active?("packer/artifacts") %>" >
                <div class="embedded-title"><%= help_link "Artifacts", "packer/artifacts" %></div>
                <ul>
                    <li><%= help_link "Creating AMIs", "packer/artifacts/creating-amis" %></li>
                <li><%= help_link "Creating Vagrant Boxes", "packer/artifacts/creating-vagrant-boxes" %></li>
                </ul>
            </li>


        </ul>
    </li>

    <li class="expandable <%= "active" if help_active?("terraform") %>">
        <h4><%= help_link "Terraform", "packer/features" %></h4>
        <ul>
            <li><%= help_link "Features", "packer/features" %></li>

            <li class="expandable <%= "active" if help_active?("packer/builds") %>" >
                <div class="embedded-title"><%= help_link "Builds", "packer/builds" %></div>
                <ul>
                    <li><%= help_link "Creating Shares", "vagrant/shares/create" %></li>
                    <li><%= help_link "Custom names", "vagrant/shares/custom-names" %></li>
                    <li><%= help_link "Troubleshooting", "vagrant/shares/troubleshooting" %></li>
                    <li><%= help_link "Wordpress", "vagrant/shares/wordpress" %></li>
                </ul>
            </li>

        </ul>
    </li>

    <li class="expandable <%= "active" if help_active?("consul") %>">
        <h4><%= help_link "Consul", "packer/features" %></h4>
        <ul>
            <li><%= help_link "Features", "packer/features" %></li>

            <li class="expandable <%= "active" if help_active?("packer/builds") %>" >
                <div class="embedded-title"><%= help_link "Builds", "packer/builds" %></div>
                <ul>
                    <li><%= help_link "Creating Shares", "vagrant/shares/create" %></li>
                    <li><%= help_link "Custom names", "vagrant/shares/custom-names" %></li>
                    <li><%= help_link "Troubleshooting", "vagrant/shares/troubleshooting" %></li>
                    <li><%= help_link "Wordpress", "vagrant/shares/wordpress" %></li>
                </ul>
            </li>
        </ul>
    </li>

    <li class="expandable <%= "active" if help_active?("user-accounts") %>">
        <h4><%= help_link "User Accounts", "user-accounts" %></h4>
        <ul>
            <li><%= help_link "Command-line Login", "user-accounts/command-line-login" %></li>
            <li><%= help_link "Organization Accounts", "user-accounts/organizations" %></li>
            <li><%= help_link "Migrate Organization", "user-accounts/migrate-organization" %></li>
        </ul>
    </li>
</ul>
